@page "/details/{Id}"
@using Example.Models
@inject NavigationManager NavigationManager
<MudContainer MaxWidth="MaxWidth.Medium">
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">To-Do List Entries</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    @if (_entries is null)
    {
        for (int i = 0; i < 5; i++)
        {
            <MudSkeleton />
        }
    }
    else
    {
        <MudList T="string">
            @foreach (var item in _entries)
            {
                <MudListItem>
                    <MudStack Row="true" Justify="Justify.SpaceBetween">
                        <MudCheckBox @bind-Checked="item.is_done"/>
                        <div>
                            @if (isediting)
                            {
                                <MudTextField @bind-Value="item.name" Placeholder="Edit name..." />
                            }
                            else
                            {
                                <div style="@(item.is_done ? "text-decoration: line-through;" : "")">
                                    @item.name
                                </div>
                            }
                        </div>
                        <MudStack Row="true" Spacing="0">
                            <MudButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" OnClick="() => ToggleEdit()">Edit</MudButton>
                            <MudButton Icon="@Icons.Material.Outlined.RestoreFromTrash" Color="Color.Error" OnClick="() => Remove(item)">Remove</MudButton>
                        </MudStack>
                    </MudStack>
                </MudListItem>
            }
        </MudList>
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddNewEntryAsync" />
            <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="SaveAsync" />
            <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Default" OnClick="NavigateBack">Back</MudButton>
        </MudCardActions>
    }
</MudCard>
</MudContainer>
